# Credenciais do Projeto Firebase (Firebase Console -> Configurações do Projeto -> Seus Aplicativos -> Config SDK)
VITE_FIREBASE_API_KEY="Chave de API do Firebase"
VITE_FIREBASE_AUTH_DOMAIN="Domínio de Autenticação do Firebase"
VITE_FIREBASE_PROJECT_ID="ID do Projeto do Firebase"
VITE_FIREBASE_STORAGE_BUCKET="Dado do Bucket de Armazenamento do Firebase"
VITE_FIREBASE_MESSAGING_SENDER_ID="ID do Remetente de Mensagens do Firebase"
VITE_FIREBASE_APP_ID="Credencias do Aplicativo do Firebase"